<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <script>
        async function getJogos(page) {
            const url = `http://localhost:3000/admin/clientesPage?page=${page}`
            const resp = await fetch(url)
            const data = await resp.json()
            
            console.log(data)
        }
        getJogos('h')
    </script>
</body>
</html>